.App {
  background-color: rgba(211, 223, 255, 0.52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.credit-form{
  width: 380px;
  display: flex;
  flex-direction: column;
}
